A quick look into the relationship between the price of oil per barrol, and the price of petrol per litre in the UK

Import all neccessary packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

Load and check all the datasets!

In [2]:
exchange_rate = pd.read_csv('cleaned_datasets/exchange_rate.csv')
weekly_petrol = pd.read_csv('cleaned_datasets/weekly_petrol_pricesnew.csv')
weekly_oil = pd.read_csv('cleaned_datasets/cleaned_oil.csv')

Now clean the weekly_oil dataset

In [3]:
print(weekly_oil.head())
print(weekly_oil.info())
print(weekly_oil.columns)
weekly_oil.rename(columns={'Price': 'Price($)'}, inplace=True)
weekly_oil['Date'] = pd.to_datetime(weekly_oil['Date'], dayfirst=True)

         Date   Price    Open    High     Low     Vol. Change %
0  26/06/2022  107.73  106.67  114.02  105.11  282.91K    0.10%
1  19/06/2022  107.62  110.58  112.47  101.53    1.13M   -1.77%
2  12/06/2022  109.56  120.19  123.68  108.25    1.31M   -9.21%
3  05/06/2022  120.67  120.82  123.18  117.14    1.58M    1.51%
4  29/05/2022  118.87  114.96  120.46  111.20    1.30M    3.30%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2048 entries, 0 to 2047
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2048 non-null   object
 1   Price     2048 non-null   float64
 2   Open      2048 non-null   float64
 3   High      2048 non-null   float64
 4   Low       2048 non-null   float64
 5   Vol.      2048 non-null   object
 6   Change %  2048 non-null   object
dtypes: float64(4), object(3)
memory usage: 112.1+ KB
None
Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [4]:
oil_to_merge = weekly_oil[['Date', 'Price($)']]
print(oil_to_merge.head())
print(oil_to_merge.info())

        Date  Price($)
0 2022-06-26    107.73
1 2022-06-19    107.62
2 2022-06-12    109.56
3 2022-06-05    120.67
4 2022-05-29    118.87
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2048 entries, 0 to 2047
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2048 non-null   datetime64[ns]
 1   Price($)  2048 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 32.1 KB
None

Now check and clean the Petrol Dataset

In [5]:
print(weekly_petrol.head())
print(weekly_petrol.info())
print(weekly_petrol.columns)

         Date  Petrol(pence/litre)  Diesel(pence/litre)  Petrol Dutyrate  \
0  09/06/2003                74.59                76.77            45.82
1  16/06/2003                74.47                76.69            45.82
2  23/06/2003                74.42                76.62            45.82
3  30/06/2003                74.35                76.51            45.82
4  07/07/2003                74.28                76.46            45.82

   Diesel dutyrate  petrol vat  diesel vat
0            45.82        17.5        17.5
1            45.82        17.5        17.5
2            45.82        17.5        17.5
3            45.82        17.5        17.5
4            45.82        17.5        17.5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 995 non-null    object
 1   Petrol(pence/litre)  995 non-null    float64
 2   Diesel(pence/litre)  995 non-null    float64
 3   Petrol Dutyrate      995 non-null    float64
 4   Diesel dutyrate      995 non-null    float64
 5   petrol vat           995 non-null    float64
 6   diesel vat           995 non-null    float64
dtypes: float64(6), object(1)
memory usage: 54.5+ KB
None
Index(['Date', 'Petrol(pence/litre)', 'Diesel(pence/litre)', 'Petrol Dutyrate',
       'Diesel dutyrate', 'petrol vat', 'diesel vat'],
      dtype='object')

In [6]:
weekly_petrol['Date'] = pd.to_datetime(weekly_petrol['Date'], dayfirst=True)
weekly_petrol.sort_values(by='Date', ascending=False)
print(weekly_petrol.head())
petrol_to_merge = weekly_petrol[['Date', 'Petrol(pence/litre)', 'Petrol Dutyrate', 'petrol vat']]
diesel_to_merge = weekly_petrol[['Date','Diesel(pence/litre)','Diesel dutyrate','diesel vat']]

        Date  Petrol(pence/litre)  Diesel(pence/litre)  Petrol Dutyrate  \
0 2003-06-09                74.59                76.77            45.82
1 2003-06-16                74.47                76.69            45.82
2 2003-06-23                74.42                76.62            45.82
3 2003-06-30                74.35                76.51            45.82
4 2003-07-07                74.28                76.46            45.82

   Diesel dutyrate  petrol vat  diesel vat
0            45.82        17.5        17.5
1            45.82        17.5        17.5
2            45.82        17.5        17.5
3            45.82        17.5        17.5
4            45.82        17.5        17.5

In [7]:
petrol_to_merge.sort_values(by='Date', ascending=False, inplace=True)
diesel_to_merge.sort_values(by='Date', ascending=False, inplace=True)
print(petrol_to_merge.head())
print(diesel_to_merge.head())
print(petrol_to_merge.info())
print(diesel_to_merge.info())

          Date  Petrol(pence/litre)  Petrol Dutyrate  petrol vat
994 2022-06-27               190.93            52.95        20.0
993 2022-06-20               186.85            52.95        20.0
992 2022-06-13               182.53            52.95        20.0
991 2022-06-06               174.99            52.95        20.0
990 2022-05-30               170.36            52.95        20.0
          Date  Diesel(pence/litre)  Diesel dutyrate  diesel vat
994 2022-06-27               198.93            52.95        20.0
993 2022-06-20               194.87            52.95        20.0
992 2022-06-13               190.43            52.95        20.0
991 2022-06-06               184.94            52.95        20.0
990 2022-05-30               182.25            52.95        20.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 994 to 0
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 995 non-null    datetime64[ns]
 1   Petrol(pence/litre)  995 non-null    float64
 2   Petrol Dutyrate      995 non-null    float64
 3   petrol vat           995 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 38.9 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 994 to 0
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 995 non-null    datetime64[ns]
 1   Diesel(pence/litre)  995 non-null    float64
 2   Diesel dutyrate      995 non-null    float64
 3   diesel vat           995 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 38.9 KB
None

/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

Now clean the exchange_rate dataset

In [8]:
print(exchange_rate.head())
print(exchange_rate.info())
exchange_rate.rename(columns={'Price': 'USDtoGBP'},inplace=True)
exchange_rate['Date'] = pd.to_datetime(exchange_rate['Date'], dayfirst=True)

         Date   Price
0  26/06/2022  0.8266
1  19/06/2022  0.8153
2  12/06/2022  0.8179
3  05/06/2022  0.8118
4  29/05/2022  0.8005
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1069 entries, 0 to 1068
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1069 non-null   object
 1   Price   1069 non-null   float64
dtypes: float64(1), object(1)
memory usage: 16.8+ KB
None

In [9]:
print(exchange_rate.head())

        Date  USDtoGBP
0 2022-06-26    0.8266
1 2022-06-19    0.8153
2 2022-06-12    0.8179
3 2022-06-05    0.8118
4 2022-05-29    0.8005

Now merge the datasets to give differeent sets for petrol and diesel

In [10]:
ex_oil = oil_to_merge.merge(exchange_rate, how='inner', on='Date')

In [11]:

ex_oil['Barrel_oil_£'] = ex_oil['Price($)'] * ex_oil['USDtoGBP'] 
ex_oil['matching_date'] = ex_oil['Date'] + pd.Timedelta(days=1)
print(ex_oil.head())

        Date  Price($)  USDtoGBP  Barrel_oil_£ matching_date
0 2022-06-26    107.73    0.8266     89.049618    2022-06-27
1 2022-06-19    107.62    0.8153     87.742586    2022-06-20
2 2022-06-12    109.56    0.8179     89.609124    2022-06-13
3 2022-06-05    120.67    0.8118     97.959906    2022-06-06
4 2022-05-29    118.87    0.8005     95.155435    2022-05-30

In [12]:
barrel_oil_GBP = ex_oil[['matching_date', 'Barrel_oil_£']]
barrel_oil_GBP.rename(columns={'matching_date':'Date'}, inplace=True)
print(barrel_oil_GBP.head())

        Date  Barrel_oil_£
0 2022-06-27     89.049618
1 2022-06-20     87.742586
2 2022-06-13     89.609124
3 2022-06-06     97.959906
4 2022-05-30     95.155435

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

We now have out dataset for the price of a barrel of oil in GBP, this can now be merged with /te price of petol and the price of Diesel

In [13]:
oil_petrol = barrel_oil_GBP.merge(petrol_to_merge, how='inner', on='Date')

In [14]:
oil_diesel = barrel_oil_GBP.merge(diesel_to_merge, how='inner', on='Date')

In [15]:
print(oil_petrol.head())
print(oil_petrol.info())

        Date  Barrel_oil_£  Petrol(pence/litre)  Petrol Dutyrate  petrol vat
0 2022-06-27     89.049618               190.93            52.95        20.0
1 2022-06-20     87.742586               186.85            52.95        20.0
2 2022-06-13     89.609124               182.53            52.95        20.0
3 2022-06-06     97.959906               174.99            52.95        20.0
4 2022-05-30     95.155435               170.36            52.95        20.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 0 to 988
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 989 non-null    datetime64[ns]
 1   Barrel_oil_£         989 non-null    float64
 2   Petrol(pence/litre)  989 non-null    float64
 3   Petrol Dutyrate      989 non-null    float64
 4   petrol vat           989 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 46.4 KB
None

In [16]:
print(oil_diesel.head())
print(oil_diesel.info())

        Date  Barrel_oil_£  Diesel(pence/litre)  Diesel dutyrate  diesel vat
0 2022-06-27     89.049618               198.93            52.95        20.0
1 2022-06-20     87.742586               194.87            52.95        20.0
2 2022-06-13     89.609124               190.43            52.95        20.0
3 2022-06-06     97.959906               184.94            52.95        20.0
4 2022-05-30     95.155435               182.25            52.95        20.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 989 entries, 0 to 988
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 989 non-null    datetime64[ns]
 1   Barrel_oil_£         989 non-null    float64
 2   Diesel(pence/litre)  989 non-null    float64
 3   Diesel dutyrate      989 non-null    float64
 4   diesel vat           989 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 46.4 KB
None

In [17]:
oil_petrol.to_csv('cleaned_datasets/petrol_oilbarrel_prices.csv', index=False)
oil_diesel.to_csv('cleaned_datasets/diesel_oilbarrel_prices.csv', index=False)

In [18]:


barrel_oil_GBP.to_csv('cleaned_datasets/oil_price.csv', index=False)